<%- include("partials/header") %>
<div class="blogs">
<form action="/edit/submit" method="post">
    <div class="topic">
        <input type="text" class="Topic c_topic" name="heading" placeholder="Topic........" autocapitalize="words"  required>
        <br>
        <div style="text-align: right;">
        <input type="text" class="author c_author" name="author" placeholder="Author........" autocapitalize="words"  required >
        <br>
        </div>
        </div>
        <div style="text-align: right;">
            <input type="submit" style="margin-right: 1%; margin-top: 1%;border:none;border-radius: 5%;" value="Search">
            </div>
</form>
</div>